* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #ddd;
  background-color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80vw;
  margin: auto;
}

.logo {
  width: 20rem;
  display: block;
  margin: auto;
}

.launches-list {
  padding: 2rem;
}

.launches-list .search-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.launches-list .search-bar select,
.launches-list .search-bar input {
  padding: 0.5rem;
  border-radius: 20px;
  outline: none;
}

.launches-list h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.launches-list .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.launches-list .list .launch-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: #030303;
  border: 1px solid #090909;
  border-radius: 25px;
  position: relative;
}

.launches-list .list .launch-item li {
  font-size: 1.3rem;
  text-align: center;
}

.launches-list .list .launch-item .launch-image {
  margin: 2rem 0;
  width: 100%;
  max-height: 18rem;
}

.launches-list .list .launch-item a {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.launches-list .list .launch-item a:hover {
  background-color: #151515;
  color: #4ecca3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.single-launch {
  text-align: center;
}

.single-launch h1 {
  font-size: 3rem;
}

.single-launch h2 {
  margin-top: 2rem;
}

.single-launch .launch-details {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.single-launch .patch-image {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.single-launch ul li .images-list {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.single-launch ul li .images-list .image {
  width: 100%;
  max-height: 20rem;
}

.single-launch .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.single-launch .links a {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.single-launch .links a:hover {
  background-color: #151515;
  color: #4ecca3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.single-launch .text-success {
  color: #327c10;
}

.single-launch .text-danger {
  color: #f33535;
}

.single-launch hr {
  margin: 1rem 0;
}

.single-launch .rocket-details {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .launches-list .list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .launches-list .list .launch-item .launch-image {
    max-height: initial;
  }
  .single-launch ul li .images-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .launches-list .list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .launches-list .search-bar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .launches-list .search-bar i {
    display: none;
  }
  .single-launch ul li .images-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .single-launch ul li .images-list .image {
    max-height: initial;
  }
  .single-launch .links {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=App.css.map */